Repository ND-iTC/Documents, pull requests merged in 2022-08, with the labels that each got.

#80 MINT CR1-2022 (Issue #76)
  NDcPP_v2_2e.adoc
Labels: cPP, Awaiting Review, MiNT

#82 ND cPP maintenance updates 2022 08 03 trwolff
  ND Supporting Document 2_2.adoc
  NDcPP_v2_2e.adoc
Labels: cPP, SD, Awaiting Review, MiNT

#81 NIAP Formatting Changes
  NDcPP_v2_2e.adoc
Labels: cPP, Awaiting Review, MiNT

#87 Maintenance
  ND Supporting Document 2_2.adoc
  NDcPP_v2_2e.adoc
  extracted-media/media/arch_1_no_ssh.png
Labels: cPP, SD, Editorial
