Repository ND-iTC/Documents, pull requests merged in 2022-07, with the labels that each got.

#67 PublishedHashRemoval
  ND Supporting Document 2_2.adoc
  NDcPP_v2_2e.adoc
Labels: cPP, SD, In Progress, MiNT

#66 TLSWG branch cleanup
  ND Supporting Document 2_2.adoc
  NDcPP_v2_2e.adoc
Labels: cPP, SD, In Progress, TLSWG

#75 Issue #62, NIAP Comment on FCS_RBG_EXT.1
  NDcPP_v2_2e.adoc
Labels: cPP, Awaiting Review, MiNT

#31 TLSWG tidy up
  NDcPP_v2_2e.adoc
  extracted-media/media/FAU_GEN_EXT.png
  extracted-media/media/FAU_STG_EXT.png
  extracted-media/media/FCO_CPC_EXT.png
  extracted-media/media/FCS_DTLSC_EXT.png
  extracted-media/media/FCS_DTLSS_EXT.png
  extracted-media/media/FCS_HTTPS_EXT.png
  extracted-media/media/FCS_IPSEC_EXT.png
  extracted-media/media/FCS_NTP_EXT.png
  extracted-media/media/FCS_RBG_EXT.png
  extracted-media/media/FCS_SSHC_EXT.png
  extracted-media/media/FCS_SSHS_EXT.png
  extracted-media/media/FCS_TLSC_EXT.png
  extracted-media/media/FCS_TLSS_EXT.png
  extracted-media/media/FIA_PMG_EXT.png
  extracted-media/media/FIA_UAU_EXT.png
  extracted-media/media/FIA_UIA_EXT.png
  extracted-media/media/FIA_X509_EXT.png
  extracted-media/media/FPT_APW_EXT.png
  extracted-media/media/FPT_SKP_EXT.png
  extracted-media/media/FPT_STM_EXT.png
  extracted-media/media/FPT_TST_EXT.png
  extracted-media/media/FPT_TUD_EXT.png
  extracted-media/media/FTA_SSL_EXT.png
Labels: cPP, Awaiting Review

#61 Removal of SSH requirements from PP and SD.
  ND Supporting Document 2_2.adoc
  NDcPP_v2_2e.adoc
  extracted-media/media/arch_1_no_ssh.png
Labels: cPP, SD, In Progress, MiNT
